.Frame{
  background-image:url("./../issue/a.png");
  background-color:#f18d03; 
  height: 100vh;
  width: 100%;
}


.Lorem-ipsum-Dolor-Sit-Amet-Lorem {
  width: 603px;
  height: 140px;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.10;
  letter-spacing: normal;
  text-align: left;
  color:white;
  margin-top:222px;
  margin-left: 150px;
}



.Button-1 {
  width: 100px;
  height: 50px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-left: 100px;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-top:400px;
 

 
}

.Anasayfa {
  width: 84px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height:1.8;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
.Hakkımızda {
  width: 105px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.WeWantEd-Labs {
  width: 144px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height:1.8;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.Etkinlikler {
  width: 87px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color:white;
}

.Blog {
  width: 40px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color:white;
}

.footer{
  padding-right: 25px;
}

.Center{
  display: flex;
  justify-content: center;
  align-content: center;
}