.Lorem-Ipsum-is-simply-dummy-text-of-the-printing-industry {
  width: 380px;
  height: 75px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-left:20px;
  margin-bottom:0px;
  margin-top: 45px;
  
}
.Lorem-Ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-it-specimen-book {
  width: 380px;
  height: 75px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-left:20px;
 
}

.Input-Base {
  
  border: solid 1px #2b2c30;
  background-color: #1d1e22;
  color:white;
  margin-top: 35px;
   width: 425px;
  height: 40px;
  
}
.baseButton {
  width: 425px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0 rgba(19, 31, 21, 0.1);
  background-color:#f89f23;
  border-color:#f89f23;
  margin-top: 20px;
}

.Aramza-katlmak-ister-misin-Kayıt-mobil {
  
  width: 250px;
  height: 11px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color:white; 
  margin-left: 15px;
 
}

.Giris-yap{
  
  width: 250px;
  height: 11px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color:white; 
  margin-left: 80px;
 
}

.hr-mobil{
  width: 135px;
  border-color:#f89f23;
  margin-left: 80px;
}

.kayit-ol-mobil {
  
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #f18d03;

}